/* Estilos base para todos los dispositivos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.albums-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: 20px auto;
    margin-bottom: 100px;
}

.album {
    width: calc(50% - 10px);
    margin-bottom: 20px;
}

.artist {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.artist-image {
    max-width: 85%;
    height: auto;
    display: block;
    margin: 10px auto 0;
}

.artist-info {
    padding: 10px;
    text-align: center;
}

.artist h2 {
    padding: 10px;
    text-align: center;
}

.artist p {
    margin-top: 5px;
    color: #666;
}

.button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background-color: #1DB954;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #168f3f;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 767px) {
    .album {
        width: 100%;
    }
}

/* Estilos específicos para tabletas */
@media (min-width: 768px) and (max-width: 1023px) {
    .album {
        width: calc(50% - 10px);
    }
}

/* Estilos específicos para computadoras */
@media (min-width: 1024px) {
    .album {
        width: calc(33.33% - 10px);
    }
}

/* Estilos para el banner */
.banner {
    position: relative;
    width: 100%;
    height: 400px;
    /* Altura del banner, ajusta según tu diseño */
    background-image: url('/imagenes/banner.png');
    /* Imagen de fondo del banner */
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Capa de superposición con transparencia */
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.text {
    color: #fff;
    padding: 20px;
    max-width: 50%;

    /* Ancho máximo del área de texto */
}

.artist-image {
    flex: 1;
    text-align: center;


}

.artist-image img {
    max-width: 50%;
    height: auto;
    border-radius: 50%;
    /* Para que la imagen del artista tenga bordes redondeados */
}
