body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;

}

.container {
    max-width: 600px;
    margin: 0px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

.form-group {
    margin-bottom: 20px;

}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

textarea {
    resize: vertical;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #1DB954;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

.submit-button:hover {
    background-color: #168f3f;

}

/* Estilos para dispositivos de pantalla pequeña */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
        /* Reducir el ancho del contenedor para dispositivos pequeños */
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: calc(100% - 20px);
        /* Restar el espacio de relleno para evitar el desbordamiento horizontal */

    }

    .submit-button {
        width: calc(100% - 20px);
        /* Restar el espacio de relleno para evitar el desbordamiento horizontal */
    }
}
