:root {
    --color_primario: #333;
    --color_primario_suave: #8527c383;
    --color_blanco: #fff;
    --altura_header: 70px;
    --padding_left_rinht: 2rem;
    --ancho_maximo: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    /* Evitar desplazamiento horizontal */
    margin-top: 0;
    /* Restaurar el margen superior predeterminado */
}

.header {
    height: var(--altura_header);
    background-color: var(--color_primario);
    position: fixed;
    /* Mantener el encabezado fijo en la parte superior */
    top: 0;
    z-index: 1000;
    /* Asegurar que esté por encima de otros elementos */
    width: 100%;
    /* Ancho completo */

}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

.nanbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 0 var(--padding_left_rinht);
}

.menu_hi {
    display: none;
}

.menu_hi:checked+.ul_link {
    margin-top: -15px;
    width: 100vw;
    height: 100vh;
    padding-top: 95px;
    /* Ajusta el espacio entre el borde superior y el contenido del menú */
}

.logo,


.label_h {
    color: var(--color_blanco);
    cursor: pointer;

}

.bi {}

.bi-list {}

.list_icon {}

.ul_link {
    width: 0;
    background-color: var(--color_primario);
    position: absolute;
    top: var(--altura_header);
    right: 0;
    overflow: hidden;
    height: calc(100vh - var(--altura_header));
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    /* z-index: 10000;*/
    transition: all .2s;
}

.logo-container {
    display: flex;
    align-items: center;
}


/*iconos de las redes sociales*/
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.social-icons .row {
    display: flex;
    flex-direction: row;
    /* Cambiado a fila */
    justify-content: center;
    /* Centrar horizontalmente */
    margin-left: 135px;
    /* Desplazamiento hacia la izquierda */
}

.social-icons .row button {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 105px;
    max-width: calc(100% - 10px);
    /* Ancho máximo para evitar que se desborden */
    text-align: center;
    margin: 5px;
    margin: 0px 67px 0px 0;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 0 5px 5px 0;
    transition: all 0s ease-out;
}

.row button:active {
    top: 3px;
}

.row button.fecebook,
.row button.fecebook span {
    background: #3b5999;
    border-left: 1px solid #2e4476;
    box-shadow: 0px 5px 0px #2e4476;
}

.row button.fecebook:active {
    box-shadow: 0px 2px 0px #2e4476;

}

.row button.instagram,
.row button.instagram span {
    background: #e1306c;
    border-left: 1px solid #c91d56;
    box-shadow: 0px 5px 0px #c91d56;
}

.row button.instagram:active {
    box-shadow: 0px 2px 0px #c91d56;

}

.row button.yotube,
.row button.yotube span {
    background: #de463b;
    border-left: 1px solid #c02b21;
    box-shadow: 0px 5px 0px #c02b21;
}

.row button.yotube:active {
    box-shadow: 0px 2px 0px #c02b21;

}

.row button span {
    position: absolute;
    height: 40px;
    width: 60px;
    top: 0;
    left: -61px;
    line-height: 40px;
    font-size: 22px;
    display: block;
    font-weight: normal;
    border-radius: 5px 0 0 5px;


}

.row button:active span {
    top: -3px;

}

/*termina la configuracion de las redes sociales */


.li_link {}

.link {
    font-size: 2.5em;
    /*tmaño del texto menu*/
    color: var(--color_blanco);
    font-weight: bold;
}

@media(min-width: 768px) {
    .label_h {
        display: none;
    }

    .ul_link {
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 2rem;
    }

    .link {
        font-size: 1.2rem;
        transition: all .3s;
        padding: .2rem .7rem;
    }

    .link:hover {
        background-color: #6b6565;
    }
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
    margin-top: 100px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.song {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.song-image {
    width: 100px;
    margin-right: 20px;
    border-radius: 5px;
    /* Borde redondeado */
}

.song-info {
    flex: 1;
    font-size: 1.2rem;
    /* Tamaño de fuente */
}

.song h2 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #333;
}

.song p {
    margin-top: 5px;
    color: #666;

}


.separator {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-top: 1px solid #ccc;
}

audio {
    margin-top: 10px;
    /* Espacio entre la información de la canción y el reproductor de audio */
}

.spotify-link {
    display: block;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    padding: 12px;
    background-color: #1DB954;
    color: white;
    text-decoration: none;
    border-radius: 80px;
}

.spotify-link:hover {
    background-color: #168f3f;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media screen and (max-width: 768px) {
    .container {
        margin-bottom: 100px;
        max-width: 90%;
        padding: 10px;
    }

    .song {
        flex-direction: column;
        text-align: center;
    }

    .song-info {
        margin-bottom: 10px;
        /* Espacio adicional entre elementos dentro de cada canción */
    }

    .song-image {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .spotify-link {
        width: 88%;
    }
}

@media screen and (max-width: 768px) {
    .social-icons {
        margin-bottom: 50px;
        max-width: 100%;
        padding: 10px;
    }

    .social-icons .row {
        display: flex;
        /* Añadido para activar flexbox */
        flex-direction: column;
        align-items: center;
        /* Centrar verticalmente */
        justify-content: center;
        /* Centrar horizontalmente */
        margin-bottom: 10px;
        width: 100%;
    }

    .social-icons .row button {
        margin-bottom: 10px;
    }
}
