.albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
    margin-top: 100px;
}

.album {
    width: 270px;
    margin: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
    /* Centra el contenido dentro del div .album */

}

.album:hover {
    transform: translateY(-5px);
}

.album img {
    width: 100%;
    border-radius: 10px;
}

.album h2 {
    margin-top: 15px;
    font-size: 20px;
    color: #333;
}

.album p {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}

.album p:first-child {
    font-weight: bold;
    color: #555;
}

.spotify-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1db954;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif, sans-serif;

}

.spotify-button:hover {
    background-color: #169c45;

}

/* Media queries para estilos específicos en diferentes tamaños de pantalla */
@media screen and (max-width: 768px) {
    .albums {
        flex-direction: column;
    }

    .album {
        width: 90%;
    }
}